a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

main {
  #blog-section {
    margin-top: 40px;

    .blogs {
      //   position: sticky;
      //   top: 0;
      .blog-card {
        .blog-image {
          padding-right: 0;
          padding-bottom: 20px;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }

        .card-content {
          .title {
            font-size: 18px;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            a {
              font-weight: 600;
              color: #333;
              transition: all 0.5s;

              &:hover {
                color: #63ab00;
              }
            }
          }

          p {
            color: #333333;
            font-size: 14px;
            .date {
            }
            .author {
              color: #333333;

              transition: all 0.5s;

              &:hover {
                color: #63ab00;
              }
            }
          }

          .blog-link {
            color: #333333;
            font-size: 14px;
            transition: all 0.5s;

            &:hover {
              color: #63ab00;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .page-link {
        color: #63ab00;
      }
      .page-item.disabled .page-link {
        color: #333;
      }
      .page-item.active .page-link {
        background: #63ab00;
        border-color: #63ab00;
        color: #fff;
      }
    }

    .left-side-blog {
      position: sticky;
      top: 0;
      .search-box {
        margin-bottom: 45px;
        .search {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          width: 100%;
          input {
            height: 45px;
            border: 0;
            box-shadow: none;
            font-size: 15px;
            background-color: #f5f5f5;
          }

          span {
            text-align: center;
            background-color: #63ab00;
            position: absolute;
            right: 0;
            height: 45px;
            top: 0;
            font-size: 30px;
            padding: 0 10px 0 10px;
            z-index: 99;
            border-radius: 0 6px 6px 0;
            width: 45px;

            i {
              color: #ffffff;
              font-size: 20px;
            }
          }
        }
      }
      .widget {
        h4 {
          position: relative;
          padding-left: 20px;
          margin-bottom: 25px;
          font-weight: 600;
          text-transform: uppercase;

          &::before {
            content: "";
            height: 100%;
            width: 5px;
            border-radius: 10px;
            background-color: #63ab00;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .categories-widget {
        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;

          li {
            text-align: right;
            width: 100%;
            padding: 0.625rem 0rem 0.625rem 1.25rem !important;
            line-height: 1.3 !important;
            margin-bottom: 0;
            a {
              float: left;
              position: relative;
              text-transform: capitalize;
              color: #333;
              transition: all 0.5s;
              &::before {
                content: "\f105";
                font-family: "Fontawesome";
                font-weight: 700;
                position: absolute;
                left: 0;
                top: 8px;
                display: block;
                left: -1.25rem;
                top: 0;
                color: #63ab00;
              }
              &:hover {
                color: #63ab00;
              }
            }
          }
        }
      }

      .recent-posts {
        margin-top: 30px;
        .posts {
          .post {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 0.375rem;
            margin-bottom: 10px;
            transition: all 0.5s;

            &:hover {
              box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
            }
            .image {
              width: 120px;
              min-width: 100px;
              border-radius: 0.375rem;
              img {
                max-width: 100%;
                height: auto;
                width: 100%;
                border-radius: 0.375rem;
              }
            }

            .content {
              padding-left: 15px;
              h6 {
                font-weight: 600;
                a {
                  color: #333;
                  transition: all 0.5s;
                  &:hover {
                    color: #63ab00;
                  }
                }
              }

              p {
                font-size: 14px;
                color: #63ab00;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .tags {
        margin-top: 30px;
        .all-tags {
          display: table;
          a {
            border: 1px solid;
            border-radius: 0.375rem;
            padding: 6px 15px;
            display: inline-block;
            margin: 0 6px 10px 0;
            font-size: 15px;
            color: #333;
            line-height: 1.4;

            transition: all 0.5s;

            &:hover {
              background-color: #63ab00;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
