a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

main {
  #blog-detail-section {
    margin-top: 40px;
    .blog-post {
      .blog-image {
        img {
          width: 100%;
          vertical-align: middle;
        }
      }

      .blog-header {
        margin-top: 30px;
        h3 {
          font-size: 30px;
          color: #333;
        }

        .post-detail {
          span {
            margin-top: 25px;
            font-size: 15px;
            i {
              margin-right: 5px;
              color: #63ab00;
            }

            &:nth-of-type(2) {
              margin-left: 40px;
            }
          }
        }
      }

      .blog-desc {
        margin-top: 20px;
        p {
          text-align: justify;
          font-size: 14px;
          line-height: 27px;
          font-weight: 300;
          color: rgba(103, 103, 103, 0.6901960784);
        }
      }
    }
    .blog-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #e1e1f0 !important;
      border-bottom: 1px solid #e1e1f0 !important;
      padding: 20px 0;
      margin-top: 30px;
      .post-tags {
        opacity: 0.7;
        a {
          font-size: 15px;
          margin-left: 3px;
          font-weight: 400;
          color: #333;
          transition: all 0.5s;

          &:hover {
            color: #62ab00;
          }
        }
      }

      .social-btns {
        a {
          background: #f7f7f7;
          border-radius: 100%;
          color: #353535;
          display: inline-block;
          font-size: 14px;
          height: 26px;
          line-height: 26px;
          margin-right: 10px;
          text-align: center;
          width: 26px;
          transition: all 0.5s;
          &:hover {
            background-color: #63ab00;
            color: #fff;
          }
        }
      }
    }
    .related-blogs {
      margin-top: 40px;
      .widget-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .blog {
        border-radius: 0.375rem;
        background-color: #fff;
        border: 2px solid #eee;
        .blog-image {
          img {
            width: 100%;
            vertical-align: middle;
          }
        }

        .blog-content {
          padding: 20px 30px;
          h5 {
            font-weight: 600;
            font-size: 20px;
            a {
              color: #333;

              transition: all 0.5s;

              &:hover {
                color: #63ab00;
              }
            }
          }

          .desc {
            text-align: justify;
            color: #333;
            font-size: 16px;
            font-weight: 300;
          }

          .blog-author-date {
            span {
              margin-top: 25px;
              font-size: 15px;
              i {
                margin-right: 5px;
                color: #63ab00;
              }

              &:nth-of-type(2) {
                margin-left: 40px;
              }
            }
          }
        }
      }
    }

    .post-comments {
      margin-top: 40px;
      .widget-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .single-comment {
        margin-top: 20px;
        display: flex;
        // align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid #e1e1f0;
        .comment-image {
          img {
            width: 100%;
            vertical-align: middle;
          }
        }

        .text {
          padding-left: 20px;
          .author {
            font-size: 18px;
            line-height: 18px;
            color: #333;
            font-weight: 600;
            font-style: normal;
            margin-bottom: 10px;
          }

          .desc {
            font-size: 15px;
            margin-bottom: 10px;
          }

          a {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;
            color: #63ab00;
            display: inline-block;
            margin-bottom: 20px;
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .leave-reply {
      margin-top: 40px;
      padding: 30px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 10px;
      .widget-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .reply-form {
        input {
          margin-bottom: 20px;
          height: 48px;
          box-shadow: none;

          &:focus {
            border-color: #63ab00;
            outline: none;
          }
        }

        textarea {
          box-shadow: none;

          &:focus {
            border-color: #62ab00;
            outline: none;
          }
        }
        button {
          margin-top: 20px;
          text-align: center;
          font-size: 17px;
          padding: 12.5px 40px;
          line-height: 1.5;
          height: 48px;
          background-color: #63ab00;
          color: #fff;
          transition: all 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .left-side-blog {
      position: sticky;
      top: 0;

      .widget {
        h4 {
          position: relative;
          padding-left: 20px;
          margin-bottom: 25px;
          font-weight: 600;
          text-transform: uppercase;

          &::before {
            content: "";
            height: 100%;
            width: 5px;
            border-radius: 10px;
            background-color: #63ab00;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .categories-widget {
        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;

          li {
            text-align: right;
            width: 100%;
            padding: 0.625rem 0rem 0.625rem 1.25rem !important;
            line-height: 1.3 !important;
            margin-bottom: 0;
            a {
              float: left;
              position: relative;
              text-transform: capitalize;
              color: #333;
              transition: all 0.5s;
              &::before {
                content: "\f105";
                font-family: "Fontawesome";
                font-weight: 700;
                position: absolute;
                left: 0;
                top: 8px;
                display: block;
                left: -1.25rem;
                top: 0;
                color: #63ab00;
              }

              &:hover {
                color: #63ab00;
              }
            }
          }
        }
      }

      .recent-posts {
        margin-top: 30px;
        .posts {
          .post {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 0.375rem;
            margin-bottom: 10px;
            transition: all 0.5s;

            &:hover {
              box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
            }
            .image {
              width: 120px;
              min-width: 100px;
              border-radius: 0.375rem;
              img {
                max-width: 100%;
                height: auto;
                width: 100%;
                border-radius: 0.375rem;
              }
            }

            .content {
              padding-left: 15px;
              h6 {
                font-weight: 600;
                a {
                  color: #333;
                  transition: all 0.5s;
                  &:hover {
                    color: #63ab00;
                  }
                }
              }

              p {
                font-size: 14px;
                color: #63ab00;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .archives-widget {
        margin-top: 30px;
        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;

          li {
            text-align: right;
            width: 100%;
            padding: 0.625rem 0rem 0.625rem 1.25rem !important;
            line-height: 1.3 !important;
            margin-bottom: 0;
            a {
              float: left;
              position: relative;
              text-transform: capitalize;
              color: #333;
              transition: all 0.5s;
              &::before {
                content: "\f105";
                font-family: "Fontawesome";
                font-weight: 700;
                position: absolute;
                left: 0;
                top: 8px;
                display: block;
                left: -1.25rem;
                top: 0;
                color: #63ab00;
              }

              &:hover {
                color: #63ab00;
              }
            }
          }
        }
      }

      .tags {
        margin-top: 30px;
        .all-tags {
          display: table;
          a {
            border: 1px solid;
            border-radius: 0.375rem;
            padding: 6px 15px;
            display: inline-block;
            margin: 0 6px 10px 0;
            font-size: 15px;
            color: #333;
            line-height: 1.4;

            transition: all 0.5s;

            &:hover {
              background-color: #63ab00;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
