a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

main {
  #basket {
    margin-top: 70px;
    .free-shipping {
      width: 100%;
      border: 1px solid #dee0ea;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 3px;
      .free-shipping-notice {
        padding-bottom: 0.625rem;
        font-size: 0.8125rem;
        span {
          font-weight: bold;
          color: #62ab00;
        }
      }

      .free-shipping-progressbar {
        .progress {
          background-color: #d8d8d8;
          border-radius: 20px;
          position: relative;
          // margin: 15px 0;
          height: 6px;
          width: 100%;
        }

        .progress-done {
          background-color: #62ab00;
          border-radius: 0.625rem;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 6px;
          width: 50%;
          opacity: 1;
          transition: 1s ease 0.3s;
        }
      }
    }

    .basket-table {
      overflow-x: auto;
      table {
        thead {
          width: 100%;

          th {
            font-size: 0.875rem;
            font-weight: 600;
            opacity: 0.3;
          }
          .product-remove {
            padding: 0;
          }
        }

        tbody {
          tr {
            position: relative;
            td {
              text-align: left;
              padding: 0.75rem 0.9375rem;
              vertical-align: middle;
              font-size: 16px;
              img {
                width: 60px;
              }
            }

            .product-remove {
              padding: 0;
              i {
                cursor: pointer;
                position: absolute;
                top: 10px;
                left: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.75rem;
                font-weight: 700;
                color: #fff;
                width: 16px;
                height: 16px;
                background-color: #ee403d;
                border-radius: 50%;
              }
            }

            .product-name {
              a {
                color: #000;
                font-weight: 500;
              }
            }

            .product-quantity {
              .quantity {
                font-size: 16px;
                display: inline-flex;
                align-items: center;
                margin-right: 0 !important;
                padding-left: 15px;
                padding-right: 15px;
                border: 1px solid #ddd;
                height: 38px;
                i {
                  cursor: pointer;
                }
                span {
                  margin-left: 15px;
                  margin-right: 15px;
                }
              }
            }
          }
        }

        tfoot {
          tr {
            td {
              padding-top: 1.875rem;

              border: none;
            }
          }
          .actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .update-cart {
              a {
                cursor: pointer;
                width: auto;
                text-align: center;
                background-color: #62ab00;
                border-color: #62ab00;
                color: #fff;
                white-space: pre;
                font-weight: 500;
                border: 1px solid #ddd;
                border-radius: 2px;
                font-size: 15px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0.9375rem;
                height: 42px;
                opacity: 0.8;
                transition: all 0.5s;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .cart-collaterals {
      margin-left: 35px;
      border: 1px solid #dee0ea;
      .cart-totals {
        padding: 1.875rem;
        h2 {
          font-weight: 400;
          font-size: 1rem;
          padding-bottom: 0.9375rem;
          margin-bottom: 1.875rem;
          border-bottom: 1px solid #dee0ea;
        }

        .subtotal {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 400;
          border-bottom: 1px solid #dee0ea;
          font-size: 0.875rem;
        }

        .shipping {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 10px;
          font-size: 0.875rem;
          margin-top: 20px;
          text-align: right;
          border-bottom: 1px solid #dee0ea;

          input {
            position: relative;
            top: 4px;
            float: right;
            margin-right: 0;
            margin-left: 7px;
            vertical-align: middle;
          }
          label {
            margin-bottom: 0;
            vertical-align: middle;
            font-size: 0.8125rem;
          }

          .shipping-option {
            margin-bottom: 10px;
          }

          p {
            font-size: 0.775rem;
            span {
              font-weight: 600;
            }
          }
          a {
            color: #62ab00;
          }
        }

        .total {
          padding-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 400;
          padding-bottom: 0.625rem;
          font-size: 0.875rem;

          h3 {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }

        .checkout {
          width: 100%;
          text-align: center;
          background-color: #62ab00;
          border-color: #62ab00;
          color: #fff;
          white-space: pre;
          font-weight: 500;
          border: 1px solid #ddd;
          border-radius: 2px;
          font-size: 15px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 0.9375rem;
          height: 3rem;
        }

        .checkout:hover {
          opacity: 0.8;
        }
      }
    }
  }

  #empty-basket {
    margin-top: 70px;
    p {
      font-size: 16px;
      color: #000;
    }
    a {
      width: auto;
      text-align: center;
      background-color: #62ab00;
      border-color: #62ab00;
      color: #fff;
      white-space: pre;
      font-weight: 500;
      border: 1px solid #ddd;
      border-radius: 2px;
      font-size: 15px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.9375rem;
      height: 42px;
    }
  }
}

@media only screen and (max-width: 500px) {
  #basket {
    .basket-table {
      table {
        thead {
          th {
            font-size: 0.7rem !important;
          }
          .product-remove {
            //   padding: 0;
          }
        }
        tbody {
          tr {
            td {
              padding: 0.75rem 0.9375rem;
              font-size: 14px !important;
            }

            .product-remove {
              i {
                width: 14px !important;
                height: 14px !important;
              }
            }

            .product-name {
              a {
                font-size: 14px !important;
              }
            }

            .product-quantity {
              .quantity {
                font-size: 15px !important;
                padding-left: 8px !important;
                padding-right: 8px !important;
                height: 25px !important;
                i {
                  font-size: 12px !important;
                }
                span {
                  margin-left: 8px !important;
                  margin-right: 8px !important;
                }
              }
            }
          }
        }

        tfoot {
          tr {
            td {
            }
          }
          .actions {
            .update-cart {
              a {
                height: 38px !important;
                font-size: 13px !important;
              }
            }
          }
        }
      }
    }
    .cart-collaterals {
      margin-left: 0px !important;
    }
  }
}

@media only screen and (min-width: 500px) {
  #basket {
    .cart-collaterals {
      margin-left: 0px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  #basket {
    .cart-collaterals {
      margin-left: 0px !important;
    }
  }
}

@media only screen and (min-width: 992px) {
}
