a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

main #contact-section {
  margin-top: 60px;
}
main #contact-section .contact-form h3 {
  color: #555555;
  font-weight: 500;
  margin-bottom: 15px;
}
main #contact-section .contact-form .form-group {
  margin-bottom: 16px;
}
main #contact-section .contact-form .form-group label {
  color: #555555;
  font-size: 14px;
}
main #contact-section .contact-form .form-group input {
  background: transparent;
  border: 2px solid #eeeeee;
  font-size: 14px;
  color: #252525;
  height: 45px;
  box-shadow: none;
}
main #contact-section .contact-form .form-group input:focus {
  border-color: #62ab00;
  outline: none;
}
main #contact-section .contact-form .form-group textarea {
  background: transparent;
  border: 2px solid #eeeeee;
  font-size: 14px;
  color: #252525;
  box-shadow: none;
}
main #contact-section .contact-form .form-group textarea:focus {
  border-color: #62ab00;
  outline: none;
}
main #contact-section .contact-form .form-btn {
  margin-top: 30px;
}
main #contact-section .contact-form .form-btn button {
  height: 50px;
  padding: 0 40px;
  align-items: center;
  color: #fff;
  background-color: #333;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
}
main #contact-section .contact-form .form-btn button:hover {
  background-color: #62ab00;
}
main #contact-info-section {
  margin-top: 60px;
  padding-bottom: 40px;
}
main #contact-info-section .contact-info {
  text-align: center;
}
main #contact-info-section .contact-info .icon {
  width: 88px;
  height: 88px;
  border: 1px solid #62ab00;
  color: #62ab00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 50%;
  margin: 0 auto;
}
main #contact-info-section .contact-info .icon i {
  font-size: 30px;
}
main #contact-info-section .contact-info .icon-phone i {
  transform: rotate(-90deg);
}
main #contact-info-section .contact-info .content {
  margin-top: 20px;
}
main #contact-info-section .contact-info .content h3 {
  font-weight: 600;
  color: #333;
  font-size: 18px;
}
main #contact-info-section .contact-info .content p {
  line-height: 1.75;
}
main #contact-info-section .contact-info .content p:nth-of-type(1) {
  margin-bottom: 0;
}
main #contact-info-section .contact-info .content .social-btns {
  margin: 0 0;
  padding-left: 0;
}
main #contact-info-section .contact-info .content .social-btns li {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  margin-right: 7px;
  margin-top: 10px;
}
main #contact-info-section .contact-info .content .social-btns li:nth-of-type(1) {
  background-color: #2b5893;
}
main #contact-info-section .contact-info .content .social-btns li:nth-of-type(2) {
  background-color: #1ea8d4;
}
main #contact-info-section .contact-info .content .social-btns li:nth-of-type(3) {
  background-color: #f96c4b;
}
main #contact-info-section .contact-info .content .social-btns li:nth-of-type(4) {
  background-color: #de0f0f;
}
main #contact-info-section .contact-info .content .social-btns li:hover {
  background-color: #000;
}
main #contact-info-section .contact-info .content .social-btns li a i {
  color: #fff;
}
main #partners-section .brand-slider img {
  opacity: 0.8;
}
main #partners-section .brand-slider img:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  #contact-section .google-map {
    margin-top: 50px;
  }
  #contact-section .google-map iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  #contact-section .google-map {
    margin-top: 50px;
  }
  #contact-section .google-map iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #contact-section .google-map {
    margin-top: 50px;
  }
  #contact-section .google-map iframe {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */