a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

.modal-is-open {
  overflow: hidden;
}

main {
  #slider-section {
    margin-top: 20px;
    .bg-color-1 {
      background-color: #ededed;
    }

    .bg-color-2 {
      background-color: #f5f4fa;
    }
    .content {
      padding-top: 40px;
      padding-bottom: 50px;
      .image {
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .text {
        margin-top: 60px;
        h1 {
          font-size: 45px;
          line-height: 1;
          color: #333333;
          text-transform: capitalize;
          font-weight: 500;

          &:last-of-type {
            margin-bottom: 20px;
          }
        }

        h2 {
          font-size: 30px;
          font-weight: 300;
          color: #333;
          font-style: italic;
          text-transform: capitalize;
          line-height: 1.2;
        }
        a {
          margin-top: 57px;
          padding: 5px 40px;
          min-height: 57px;
          font-size: 15px;
          line-height: 40px;
          text-transform: capitalize;
          background: transparent;
          border: 2px solid #62ab00;
          color: #62ab00;

          &:hover {
            background-color: #62ab00;
            color: #fff;
          }
        }
      }
    }

    .slick-dots {
      margin-bottom: 40px;

      li {
        button {
          &::before {
            font-size: 10px;
          }
        }
      }
    }

    .slick-active {
      button {
        border: 1px solid #62ab00;
        border-radius: 50%;
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #service-section {
    .feature-box {
      display: flex;
      align-items: center;
      border: 2px solid #e5e5e5;
      padding: 15px;

      .icon {
        margin-right: 10px;
        color: #62ab00;
        font-size: 34px;
        line-height: 40px;
      }

      .text {
        color: #282828;
        text-transform: capitalize;
        h5 {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
    }
  }

  #promotion-section {
    .promo-image {
      display: block;
      width: 100%;
      img {
        width: 100%;
        vertical-align: middle;
        transition: all 0.5s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  #featured-products-section {
    margin-top: 20px;
    .tab-area {
      text-align: center;
      .nav {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 50px;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
        .nav-item {
          font-size: 15px;
          color: #282828;
          line-height: 48px;
          text-transform: capitalize;
          font-weight: 700;
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
          padding: 0;
          background: #fff;
          position: relative;
          margin: 1px;
          border-radius: 3px;

          .active {
            border-color: #62ab00;
            color: #62ab00;
            background: transparent !important;
          }
          a {
            padding: 0 30px;
            border: 2px solid transparent;
            margin: -2px;
            color: #282828;
          }

          .arrow-icon {
            position: absolute;
            left: calc(50% - 10px);
            opacity: 0;
            &::before {
              position: absolute;
              content: "";
              border-width: 15px 12px;
              border-style: solid;
              border-color: #62ab00 transparent transparent transparent;
            }

            &::after {
              position: absolute;
              content: "";
              border-width: 13px 10px;
              border-style: solid;
              left: 2px;

              border-color: #fff transparent transparent transparent;
              top: -2px;
            }
          }

          .show-arrow {
            opacity: 1 !important;
          }
        }
      }
      .tab-content {
        .product-slider {
          .product-card {
            .product-header {
              padding: 0 15px;
              .author {
                font-size: 14px;
                font-weight: 400;
                padding: 0;
                color: #333;
                text-transform: capitalize;
                display: block;
                margin-bottom: 5px;
                text-decoration: none;
                transition: all 0.5s;

                &:hover {
                  color: #62ab00;
                }
              }

              h3 {
                a {
                  color: #333333;
                  padding: 0;
                  display: block;
                  text-transform: capitalize;
                  overflow: hidden;
                  font-size: 16px;
                  font-weight: 600;
                  margin-bottom: 18px;
                  text-decoration: none;
                  transition: all 0.5s;
                  &:hover {
                    color: #62ab00;
                  }
                }
              }
            }

            .product-card-body {
              padding: 1px;
              .card-image {
                position: relative;
                img {
                  max-width: 100%;
                  vertical-align: middle;
                }
                .hover-content {
                  position: absolute;
                  top: 0;
                  left: 50%;
                  // visibility: hidden;
                  opacity: 0;
                  transform: translateX(-50%);
                  cursor: pointer;
                  height: 100%;
                  width: 100%;
                  transition: all 0.5s;
                  .hover-btns {
                    position: absolute;
                    // opacity: 0;
                    display: flex;
                    align-items: center;
                    top: 55%;
                    left: 52%;
                    margin: auto;
                    background: #fff;
                    z-index: 3;
                    border-radius: 3px;
                    transform: translate(-50%, -50%);
                    transition: all 0.5s;
                    a {
                      line-height: 47px;
                      padding: 0 15.5px;
                      border-right: 1px solid #e5e5e5;
                      text-decoration: none;
                      color: inherit;
                      transition: all 0.5s;
                      &:last-child {
                        border-right: none;
                      }
                      &:hover {
                        color: #62ab00;
                      }
                    }
                  }
                }
                .show-hover-btns {
                  opacity: 1 !important;
                  // visibility: initial;
                }
              }

              .card-price {
                .price {
                  color: #62ab00;
                  font-weight: 600;
                  font-size: 18px;
                }
                .price-old {
                  color: #999999;
                  text-decoration: line-through;
                  font-size: 14px;
                  font-weight: 400;
                  margin-left: 5px;
                }

                .price-discount {
                  display: inline-block;
                  color: #fff;
                  font-weight: 700;
                  text-align: center;
                  background: #bd0018;
                  text-transform: uppercase;
                  font-size: 14px;
                  margin-left: 5px;
                  border-radius: 3px;
                  min-width: 40px;
                  line-height: 20px;
                  padding: 0 3px;
                }
              }
            }
          }
        }

        .product-slider-2 {
          .product-header {
            padding: 0 15px;
            .author {
              font-size: 14px;
              font-weight: 400;
              padding: 0;
              color: #333;
              text-transform: capitalize;
              display: block;
              margin-bottom: 5px;
              text-decoration: none;
              transition: all 0.5s;

              &:hover {
                color: #62ab00;
              }
            }

            h3 {
              a {
                color: #333333;
                padding: 0;
                display: block;
                text-transform: capitalize;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 18px;
                text-decoration: none;
                transition: all 0.5s;
                &:hover {
                  color: #62ab00;
                }
              }
            }
          }

          .product-card-body {
            padding: 1px;
            .card-image {
              position: relative;
              img {
                max-width: 100%;
                vertical-align: middle;
              }
              .hover-content {
                position: absolute;
                top: 0;
                left: 50%;
                // visibility: hidden;
                opacity: 0;
                transform: translateX(-50%);
                cursor: pointer;
                height: 100%;
                width: 100%;
                transition: all 0.5s;
                .hover-btns {
                  position: absolute;
                  // opacity: 0;
                  display: flex;
                  align-items: center;
                  top: 55%;
                  left: 52%;
                  margin: auto;
                  background: #fff;
                  z-index: 3;
                  border-radius: 3px;
                  transform: translate(-50%, -50%);
                  transition: all 0.5s;
                  a {
                    line-height: 47px;
                    padding: 0 15.5px;
                    border-right: 1px solid #e5e5e5;
                    text-decoration: none;
                    color: inherit;
                    transition: all 0.5s;
                    &:last-child {
                      border-right: none;
                    }
                    &:hover {
                      color: #62ab00;
                    }
                  }
                }
              }
              .show-hover-btns {
                opacity: 1 !important;
                // visibility: initial;
              }
            }

            .card-price {
              .price {
                color: #62ab00;
                font-weight: 600;
                font-size: 18px;
              }
              .price-old {
                color: #999999;
                text-decoration: line-through;
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
              }

              .price-discount {
                display: inline-block;
                color: #fff;
                font-weight: 700;
                text-align: center;
                background: #bd0018;
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 5px;
                border-radius: 3px;
                min-width: 40px;
                line-height: 20px;
                padding: 0 3px;
              }
            }
          }
        }

        .product-slider-3 {
          .product-header {
            padding: 0 15px;
            .author {
              font-size: 14px;
              font-weight: 400;
              padding: 0;
              color: #333;
              text-transform: capitalize;
              display: block;
              margin-bottom: 5px;
              text-decoration: none;
              transition: all 0.5s;

              &:hover {
                color: #62ab00;
              }
            }

            h3 {
              a {
                color: #333333;
                padding: 0;
                display: block;
                text-transform: capitalize;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 18px;
                text-decoration: none;
                transition: all 0.5s;
                &:hover {
                  color: #62ab00;
                }
              }
            }
          }

          .product-card-body {
            padding: 1px;
            .card-image {
              position: relative;
              img {
                max-width: 100%;
                vertical-align: middle;
              }
              .hover-content {
                position: absolute;
                top: 0;
                left: 50%;
                // visibility: hidden;
                opacity: 0;
                transform: translateX(-50%);
                cursor: pointer;
                height: 100%;
                width: 100%;
                transition: all 0.5s;
                .hover-btns {
                  position: absolute;
                  // opacity: 0;
                  display: flex;
                  align-items: center;
                  top: 55%;
                  left: 52%;
                  margin: auto;
                  background: #fff;
                  z-index: 3;
                  border-radius: 3px;
                  transform: translate(-50%, -50%);
                  transition: all 0.5s;
                  a {
                    line-height: 47px;
                    padding: 0 15.5px;
                    border-right: 1px solid #e5e5e5;
                    text-decoration: none;
                    color: inherit;
                    transition: all 0.5s;
                    &:last-child {
                      border-right: none;
                    }
                    &:hover {
                      color: #62ab00;
                    }
                  }
                }
              }
              .show-hover-btns {
                opacity: 1 !important;
                // visibility: initial;
              }
            }

            .card-price {
              .price {
                color: #62ab00;
                font-weight: 600;
                font-size: 18px;
              }
              .price-old {
                color: #999999;
                text-decoration: line-through;
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
              }

              .price-discount {
                display: inline-block;
                color: #fff;
                font-weight: 700;
                text-align: center;
                background: #bd0018;
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 5px;
                border-radius: 3px;
                min-width: 40px;
                line-height: 20px;
                padding: 0 3px;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #discount-section {
    margin-top: 70px;
    .discount-heading {
      background: #62ab00;
      border-radius: 3px;
      padding: 9px;
      margin-bottom: 56px;
      text-align: center;

      h2 {
        font-size: 28px;
        color: #fff;
        line-height: 30px;
        text-transform: none;
        padding: 0;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    .product-slider {
      .product-card {
        .product-header {
          text-align: center;
          padding: 0 15px;
          .author {
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            color: #333;
            text-transform: capitalize;
            display: block;
            margin-bottom: 5px;
            text-decoration: none;
            transition: all 0.5s;

            &:hover {
              color: #62ab00;
            }
          }

          h3 {
            a {
              color: #333333;
              padding: 0;
              display: block;
              text-transform: capitalize;
              overflow: hidden;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 18px;
              text-decoration: none;
              transition: all 0.5s;
              &:hover {
                color: #62ab00;
              }
            }
          }
        }

        .product-card-body {
          padding: 1px;
          .card-image {
            position: relative;
            img {
              max-width: 100%;
              vertical-align: middle;
            }
            .hover-content {
              position: absolute;
              top: 0;
              left: 50%;
              // visibility: hidden;
              opacity: 0;
              transform: translateX(-50%);
              cursor: pointer;
              height: 100%;
              width: 100%;
              transition: all 0.5s;
              .hover-btns {
                position: absolute;
                // opacity: 0;
                display: flex;
                align-items: center;
                top: 55%;
                left: 52%;
                margin: auto;
                background: #fff;
                z-index: 3;
                border-radius: 3px;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
                a {
                  line-height: 47px;
                  padding: 0 15.5px;
                  border-right: 1px solid #e5e5e5;
                  text-decoration: none;
                  color: inherit;
                  transition: all 0.5s;
                  &:last-child {
                    border-right: none;
                  }
                  &:hover {
                    color: #62ab00;
                  }
                }
              }
            }
            .show-hover-btns {
              opacity: 1 !important;
              // visibility: initial;
            }
          }

          .card-price {
            text-align: center;
            .price {
              color: #62ab00;
              font-weight: 600;
              font-size: 18px;
            }
            .price-old {
              color: #999999;
              text-decoration: line-through;
              font-size: 14px;
              font-weight: 400;
              margin-left: 5px;
            }

            .price-discount {
              display: inline-block;
              color: #fff;
              font-weight: 700;
              text-align: center;
              background: #bd0018;
              text-transform: uppercase;
              font-size: 14px;
              margin-left: 5px;
              border-radius: 3px;
              min-width: 40px;
              line-height: 20px;
              padding: 0 3px;
            }
          }
        }
      }
    }

    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #best-seller-section {
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .section-title {
      text-align: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        position: relative;
        font-size: 25px;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        color: #222222;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background: #62ab00;
        }
      }
    }

    .best-seller-content {
      padding: 30px;
      background: #fff;
      border-radius: 3px;
      .author-image {
        img {
          width: 100%;
        }
      }

      .bestselller-product-slider {
        .product-card {
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-bottom: 20px;
          .card-image {
            padding-right: 15px;
            width: 170px;
            position: relative;
            img {
              max-width: 100%;
              vertical-align: middle;
            }
          }

          .product-card-body {
            padding: 1px;
            .product-header {
              margin-top: 10px;
              .author {
                font-size: 14px;
                font-weight: 400;
                padding: 0;
                color: #333;
                text-transform: capitalize;
                display: block;
                margin-bottom: 5px;
                text-decoration: none;
                transition: all 0.5s;

                &:hover {
                  color: #62ab00;
                }
              }

              h3 {
                a {
                  color: #333333;
                  padding: 0;
                  display: block;
                  text-transform: capitalize;
                  overflow: hidden;
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 18px;
                  text-decoration: none;
                  transition: all 0.5s;
                  &:hover {
                    color: #62ab00;
                  }
                }
              }
            }
            .card-price {
              .price {
                color: #62ab00;
                font-weight: 600;
                font-size: 18px;
              }
              .price-old {
                color: #999999;
                text-decoration: line-through;
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
              }

              .price-discount {
                display: inline-block;
                color: #fff;
                font-weight: 700;
                text-align: center;
                background: #bd0018;
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 5px;
                border-radius: 3px;
                min-width: 40px;
                line-height: 20px;
                padding: 0 3px;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }
  #children-book-section {
    margin-top: 70px;
    .section-title {
      text-align: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        position: relative;
        font-size: 25px;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        color: #222222;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background: #62ab00;
        }
      }
    }

    .products {
      margin-top: 30px;
      // display: flex;
      // flex-wrap: wrap;
      // align-items: center;
      .product-card {
        display: flex !important;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 20px;
        .card-image {
          padding-right: 15px;
          width: 170px;
          position: relative;
          img {
            max-width: 100%;
            vertical-align: middle;
          }
        }

        .product-card-body {
          padding: 1px;
          .product-header {
            margin-top: 10px;
            .author {
              font-size: 14px;
              font-weight: 400;
              padding: 0;
              color: #333;
              text-transform: capitalize;
              display: block;
              margin-bottom: 5px;
              text-decoration: none;
              transition: all 0.5s;

              &:hover {
                color: #62ab00;
              }
            }

            h3 {
              a {
                color: #333333;
                padding: 0;
                display: block;
                text-transform: capitalize;
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 18px;
                text-decoration: none;
                transition: all 0.5s;
                &:hover {
                  color: #62ab00;
                }
              }
            }
          }
          .card-price {
            .price {
              color: #62ab00;
              font-weight: 600;
              font-size: 18px;
            }
            .price-old {
              color: #999999;
              text-decoration: line-through;
              font-size: 14px;
              font-weight: 400;
              margin-left: 5px;
            }

            .price-discount {
              display: inline-block;
              color: #fff;
              font-weight: 700;
              text-align: center;
              background: #bd0018;
              text-transform: uppercase;
              font-size: 14px;
              margin-left: 5px;
              border-radius: 3px;
              min-width: 40px;
              line-height: 20px;
              padding: 0 3px;
            }
          }
        }
      }
    }

    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #promo-section {
    margin-top: 50px;
    .promo-wrapper-1 {
      height: 245px;
      position: relative;
      overflow: hidden;
      .bg-image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .promo-text {
        padding-top: 50px;
        text-align: center;
        margin-left: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        z-index: 1;
        left: 0;
        // width: 100%;
        h2 {
          font-size: 28px;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-weight: 700;
          color: #282828;
        }
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: #555555;
          font-style: italic;
          margin: 0;
        }

        a {
          background: transparent;
          border: 2px solid #f5857a;
          color: #ec776d;
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 700;
          min-height: 40px;
          padding: 0 23px;
          margin-top: 24px;
          line-height: 3;

          &:hover {
            color: #fff;
            background-color: #ec776d;
          }
        }
      }
      &:hover {
        opacity: 0.9;
      }
    }
    .promo-wrapper-2 {
      height: 245px;
      position: relative;
      overflow: hidden;
      .bg-image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .promo-text {
        padding-top: 50px;
        text-align: left;
        margin-left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        z-index: 1;
        left: 0;
        width: 100%;
        span {
          color: #62ab00;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        h3 {
          color: #fffefe;
          font-size: 24px;
          font-weight: 600;
          line-height: 28px;
          text-transform: capitalize;
          margin: 0;
        }

        a {
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 700;
          min-height: 40px;
          padding: 0 23px;
          margin-top: 24px;
          background: transparent;
          border: 2px solid #62ab00 !important;
          color: #62ab00;
          line-height: 3;
          &:hover {
            color: #fff;
            background-color: #62ab00;
          }
        }
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  #advertisment-section-2 {
    margin-top: 50px;
    .section-wrapper {
      height: 320px;
      position: relative;
      .bg-image {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // z-index: 1;
      }
      .text {
        text-align: center;
        padding-top: 50px;
        h2 {
          font-size: 58px;
          margin-bottom: 8px;
          font-family: "PT Serif", serif;
          margin-top: 0;
          color: #fff;
          font-weight: 400;
          font-style: italic;
          text-transform: capitalize;
          line-height: 1;
        }

        h3 {
          font-size: 35px;
          font-family: "PT Serif", serif;
          margin-top: 0;
          color: #fff;
          font-weight: 400;
          font-style: italic;
          line-height: 1;
        }

        a {
          font-size: 15px;
          color: #282828;
          font-weight: 700;
          text-transform: capitalize;
          line-height: 52px;
          padding: 0 50px;
          display: inline-block;
          vertical-align: top;
          border-radius: 3px;
          margin-top: 30px;
          background-color: #eccd00;
          transition: all 0.5s;
          &:hover {
            background-color: #fff;
          }
        }
      }

      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  #arts-book-section {
    margin-top: 70px;
    .section-title {
      text-align: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        position: relative;
        font-size: 25px;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        color: #222222;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background: #62ab00;
        }
      }
    }
    .art-product-slider {
      margin-top: 40px;
      .product-card {
        .product-header {
          text-align: center;
          padding: 0 15px;
          .author {
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            color: #333;
            text-transform: capitalize;
            display: block;
            margin-bottom: 5px;
            text-decoration: none;
            transition: all 0.5s;

            &:hover {
              color: #62ab00;
            }
          }

          h3 {
            a {
              color: #333333;
              padding: 0;
              display: block;
              text-transform: capitalize;
              overflow: hidden;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 18px;
              text-decoration: none;
              transition: all 0.5s;
              &:hover {
                color: #62ab00;
              }
            }
          }
        }

        .product-card-body {
          text-align: center;

          padding: 1px;
          .card-image {
            position: relative;
            img {
              max-width: 100%;
              vertical-align: middle;
            }
            .hover-content {
              position: absolute;
              top: 0;
              left: 50%;
              // visibility: hidden;
              opacity: 0;
              transform: translateX(-50%);
              cursor: pointer;
              height: 100%;
              width: 100%;
              transition: all 0.5s;
              .hover-btns {
                position: absolute;
                // opacity: 0;
                display: flex;
                align-items: center;
                top: 55%;
                left: 52%;
                margin: auto;
                background: #fff;
                z-index: 3;
                border-radius: 3px;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
                a {
                  line-height: 47px;
                  padding: 0 15.5px;
                  border-right: 1px solid #e5e5e5;
                  text-decoration: none;
                  color: inherit;
                  transition: all 0.5s;
                  &:last-child {
                    border-right: none;
                  }
                  &:hover {
                    color: #62ab00;
                  }
                }
              }
            }
            .show-hover-btns {
              opacity: 1 !important;
              // visibility: initial;
            }
          }

          .card-price {
            .price {
              color: #62ab00;
              font-weight: 600;
              font-size: 18px;
            }
            .price-old {
              color: #999999;
              text-decoration: line-through;
              font-size: 14px;
              font-weight: 400;
              margin-left: 5px;
            }

            .price-discount {
              display: inline-block;
              color: #fff;
              font-weight: 700;
              text-align: center;
              background: #bd0018;
              text-transform: uppercase;
              font-size: 14px;
              margin-left: 5px;
              border-radius: 3px;
              min-width: 40px;
              line-height: 20px;
              padding: 0 3px;
            }
          }
        }
      }
    }
    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #testimonial-section {
    margin-top: 70px;
    .section-title {
      text-align: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        position: relative;
        font-size: 25px;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        color: #222222;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background: #62ab00;
        }
      }
    }

    .testimonial-card {
      margin-top: 40px;
      padding-left: 70px;
      position: relative;
      .testimonial-image {
        position: absolute;
        top: 0;
        margin-top: 30px;
        left: 0;
        img {
          // display: block;
          width: 100%;
          vertical-align: middle;
        }
      }

      .testimonial-body {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 15px;
        border: 2px solid #e5e5e5;
        p {
          font-weight: 400;
          line-height: 24px;
          text-transform: none;
          display: block;
          color: #333;
          font-size: 16px;

          &::before {
            position: absolute;
            top: 20px;
            content: "";
            width: 21px;
            height: 15px;
            background: url(../../images/quotation.webp);
          }
        }
        span {
          font-size: 15px;
          text-transform: capitalize;
          color: #333;
          margin: 20px 0 0 0;
          font-weight: 700;
        }
      }
    }
    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #blog-section {
    margin-top: 100px;

    .section-title {
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        position: relative;
        font-size: 25px;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        color: #222222;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background: #62ab00;
        }
      }
    }
    .blog-slider {
      .blog-card {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        .image {
          flex: 50%;
          padding-right: 10px;
          padding-bottom: 80px;
          img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
          }
        }

        .content {
          flex: 50%;
          text-align: left;
          border-top: 0;
          border: 2px solid #eeeeee;
          padding: 15px 10px;
          border-radius: 3px;
          position: relative;

          .content-header {
            display: flex;
            margin-bottom: 22px;

            .date-badge {
              text-align: center;
              min-width: 40px;
              border-radius: 3px;
              display: block;

              .date {
                display: block;
                font-size: 18px;
                font-weight: 700;
                color: #62ab00;
                line-height: 27px;
                background: #e9e9e9;
              }

              .month {
                background: #62ab00;
                display: block;
                text-transform: uppercase;
                color: #fff;
                font-size: 12px;
                line-height: 18px;
              }
            }

            h3 {
              display: block;
              font-size: 18px;
              text-transform: capitalize;
              line-height: 24px;
              position: relative;
              margin-top: 0;
              margin-bottom: 0;
              padding-left: 10px;
              color: #282828;
              font-weight: 400;
              a {
                text-decoration: none;
                color: #282828;
                transition: all 0.5s;

                &:hover {
                  color: #62ab00;
                }
              }
            }
          }

          .blog-author {
            display: inline-block;
            text-transform: none;
            margin: 0;
            font-size: 13px;
            position: relative;
            margin-bottom: 21px;

            i {
              margin-right: 3px;
            }

            a {
              color: #282828;
            }
          }
          .card-link {
            font-size: 14px;
            display: block;
            text-transform: capitalize;
            margin-top: 13px;
            color: #333;
            transition: all 0.5s;

            &:hover {
              color: #62ab00;
            }
            i {
              margin-left: 3px;
              color: #62ab00;
            }
          }

          &::before {
            content: "";
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 16px solid transparent;
            border-right: 16px solid #fff;
            position: absolute;
            z-index: 1;
            top: 26px;
            left: -32px;
          }

          &::after {
            content: "";
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 18px solid transparent;
            border-right: 18px solid #eeeeee;
            position: absolute;

            top: 24px;
            left: -36px;
          }
        }
      }
    }

    .slick-dots {
      // margin-bottom: 40px;
      li {
        button {
          &::before {
            font-size: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: #62ab00;
        }
      }
    }
  }

  #partners-section {
    margin-top: 100px;
    .brand-slider {
      img {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #product-detail-modal {
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1001;
    }

    .detail-modal {
      z-index: 1002;
      background-color: white;
      border-radius: 5px;
      width: 60%;
      height: calc(100% - 200px);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      padding: 50px 30px 10px 30px;

      margin-left: auto;
      margin-right: auto;

      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      overflow-y: auto;

      .close-modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        right: 20px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ddd;
        cursor: pointer;
      }
      .modal-content {
        border: none;
        .product-image {
          img {
            width: 100%;
          }
        }

        .product-content {
          h1 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          .review {
            margin-top: 0.625rem;
            margin-bottom: 0.9375rem;
            display: flex;
            align-items: center;
            .stars {
              margin-right: 10px;
              i {
                font-size: 12px;
                color: #f9c300;
                margin-right: -2px;
              }
            }

            span {
              font-size: 0.8125rem;
              font-weight: 600;
            }
          }
          .price {
            span {
              font-size: 20px;
              font-weight: 600;
              margin: 0 0;
              padding: 0 0;
              color: #63ab00;
            }
            .discount-price {
              margin-left: 5px;
              color: #333;
            }
          }

          p {
            margin-top: 0.9375rem;
            margin-bottom: 10px;
            font-size: 0.875rem;
          }

          .add-to-cart {
            margin-top: 30px;
            display: flex;
            align-items: center;
            .quantity {
              display: flex;
              align-items: center;

              margin-right: 7px !important;
              border: 1px solid #eee;
              height: 3rem;
              span {
                font-weight: 400;
                i {
                  font-size: 15px !important;
                }
              }
              .num {
                padding-left: 3px;
                padding-right: 3px;
              }
              .minus {
                cursor: pointer;
                display: flex;
                width: 40px;
                padding-right: 15px;
                padding-left: 15px;
              }

              .plus {
                cursor: pointer;
                width: 40px;
                padding-left: 15px;
                padding-right: 15px;
              }
            }

            button {
              cursor: pointer;
              font-weight: 600;
              height: 3rem;
              border-radius: 2px;
              outline: none !important;
              background-color: #63ab00;
              border-color: transparent;
              color: #fff;
              font-size: 15px;
              width: 100%;
            }
          }

          .product-extra-buttons {
            margin-top: 1.25rem;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #dee0ea;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              font-size: 0.875rem;
              color: #000;
              i {
                margin-right: 5px;
              }
            }
            .add-to-wishlist {
              cursor: pointer;
              i {
                opacity: 0.5;
                font-size: 0.875rem;
                color: #000;
              }
              span {
                opacity: 0.5;
                font-size: 0.875rem;
                color: #000;
              }
            }
          }

          .product-meta {
            p {
              font-size: 14px;
              margin: 5px 0;
              padding: 0 0;

              span {
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }
        }
      }

      .slick-dots {
        position: absolute;
        bottom: -40px !important;
      }
    }

    .slider-nav-thumbnails {
      margin-top: 20px;

      img {
      }
    }

    .slick-slide {
      margin-right: 20px;
    }

    .slick-track {
    }
    .slider-nav-thumbnails .slick-slide {
      opacity: 0.5;
    }

    .slider-nav-thumbnails .slick-slide.slick-current.slick-active {
      opacity: 1;
      background: green;
      // border: 1px solid #000;
    }
  }
}

@media only screen and (max-width: 600px) {
  #slider-section {
    .image {
      margin: 0 auto;
      width: 50%;
    }
    .text {
      h1 {
        font-size: 25px !important;
      }
      h2 {
        font-size: 14px !important;
      }
      a {
        margin-top: 45px !important;
        padding: 6px 30px !important;
        font-size: 13px !important;
        line-height: 30px !important;
        min-height: 40px !important;
      }
    }
  }

  #featured-products-section {
    .tab-area {
      .nav {
        .arrow-icon {
          display: none;
        }
      }
    }
  }
  #discount-section {
    .discount-heading {
      h2 {
        font-size: 22px !important;
      }
    }
  }
  #best-seller-section {
    .best-seller-content {
      .bestselller-product-slider {
        margin-top: 20px !important;
      }
    }
  }
  #advertisment-section-2 {
    .text {
      h2 {
        font-size: 40px !important;
      }

      h3 {
        font-size: 28px !important;
      }
    }
  }
  #promo-section {
    .promo-wrapper-1 {
      .promo-text {
        text-align: left !important;
        h2 {
          font-size: 20px !important;
        }
        h3 {
          font-size: 15px !important;
        }

        a {
        }
      }
    }

    .promo-wrapper-2 {
      span {
        font-size: 18px !important;
      }

      h3 {
        font-size: 17px !important;
      }
    }
  }

  #blog-section {
    .blog-slider {
      .blog-card {
        flex-direction: column !important;
        .image {
          padding-bottom: 10px !important;
        }
        .content {
          &::before {
            top: 0 !important;
            left: 50% !important;
            transform: translate(-50%, -100%) rotate(90deg);
          }

          &::after {
            top: -2px !important;
            left: 50% !important;
            transform: translate(-50%, -100%) rotate(90deg);
          }
        }
      }
    }
  }
  #product-detail-modal {
    .detail-modal {
      width: 100% !important;
    }
  }
}

@media only screen and (min-width: 600px) {
  #slider-section {
    .image {
      margin-top: 80px;
    }
    .text {
      h1 {
        font-size: 30px !important;
      }
      h2 {
        font-size: 16px !important;
      }
      a {
        margin-top: 45px !important;
        padding: 6px 30px !important;
        font-size: 13px !important;
        line-height: 30px !important;
        min-height: 40px !important;
      }
    }
  }

  #featured-products-section {
    .tab-area {
      .nav {
        .arrow-icon {
          display: none;
        }
      }
    }
  }
  #discount-section {
    .discount-heading {
      h2 {
        font-size: 22px !important;
      }
    }
  }
  #best-seller-section {
    .best-seller-content {
      .bestselller-product-slider {
        margin-top: 20px !important;
      }
    }
  }

  #promo-section {
    .promo-wrapper-1 {
      .promo-text {
        text-align: left !important;
        h2 {
          font-size: 24px !important;
        }
        h3 {
          font-size: 16px !important;
        }

        a {
        }
      }
    }

    .promo-wrapper-2 {
      span {
        font-size: 21px !important;
      }

      h3 {
        font-size: 20px !important;
      }
    }
  }
  #product-detail-modal {
    .detail-modal {
      width: 60% !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  #slider-section {
    .image {
      margin-top: 80px;
    }

    .text {
      h1 {
        font-size: 50px !important;
      }
      h2 {
        font-size: 30px !important;
      }
    }
  }

  #featured-products-section {
    .tab-area {
      .nav {
        .arrow-icon {
          display: none;
        }
      }
    }
  }

  #discount-section {
    .discount-heading {
      h2 {
        font-size: 28px !important;
      }
    }
  }
  #best-seller-section {
    .best-seller-content {
      .bestselller-product-slider {
        margin-top: 20px !important;
      }
    }
  }

  #blog-section {
    .blog-slider {
      .blog-card {
        .image {
          padding-bottom: 0 !important;
        }
      }
    }
  }
  #product-detail-modal {
    .detail-modal {
      width: 60% !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  #slider-section {
    .text {
      h1 {
        font-size: 50px !important;
      }
      h2 {
        font-size: 30px !important;
      }
    }
  }
  #featured-products-section {
    .tab-area {
      .nav {
        .arrow-icon {
          display: block;
        }
      }
    }
  }

  #discount-section {
    .discount-heading {
      h2 {
        font-size: 28px !important;
      }
    }
  }
  #blog-section {
    .blog-slider {
      .blog-card {
        .image {
          padding-bottom: 0 !important;
        }
      }
    }
  }
  #product-detail-modal {
    .detail-modal {
      width: 60% !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #blog-section {
    .blog-slider {
      .blog-card {
        .image {
          padding-bottom: 80px !important;
        }
      }
    }
  }

  #product-detail-modal {
    .detail-modal {
      width: 60% !important;
    }
  }
}
