a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

body {
  font-family: "Open-Sans", sans-serif;
}

main {
  #product-detail {
    margin-top: 50px;
    .product {
      .product-image {
        img {
          width: 100%;
        }
      }

      .product-content {
        h1 {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .review {
          margin-top: 0.625rem;
          margin-bottom: 0.9375rem;
          display: flex;
          align-items: center;
          .stars {
            margin-right: 10px;
            i {
              font-size: 12px;
              color: #f9c300;
              margin-right: -2px;
            }
          }

          span {
            font-size: 0.8125rem;
            font-weight: 600;
          }
        }
        .price {
          span {
            font-size: 20px;
            font-weight: 600;
            margin: 0 0;
            padding: 0 0;
            color: #63ab00;
          }
          .discount-price {
            margin-left: 5px;
            color: #333;
          }
        }
        // span {
        //   font-size: 20px;
        //   font-weight: 500;
        //   margin: 0 0;
        //   padding: 0 0;
        // }

        p {
          margin-top: 0.9375rem;
          margin-bottom: 10px;
          font-size: 0.875rem;
        }

        .add-to-cart {
          margin-top: 30px;
          display: flex;
          align-items: center;
          .quantity {
            display: flex;
            align-items: center;

            margin-right: 7px !important;
            border: 1px solid #eee;
            height: 3rem;
            span {
              font-weight: 400;
              i {
                font-size: 15px !important;
              }
            }
            .num {
              padding-left: 3px;
              padding-right: 3px;
            }
            .minus {
              cursor: pointer;
              display: flex;
              width: 40px;
              padding-right: 15px;
              padding-left: 15px;
            }

            .plus {
              cursor: pointer;
              width: 40px;
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          button {
            cursor: pointer;
            font-weight: 600;
            height: 3rem;
            border-radius: 2px;
            background-color: #63ab00;
            outline: none !important;
            border-color: transparent;
            color: #fff;
            font-size: 15px;
            width: 100%;
          }
        }

        .product-extra-buttons {
          margin-top: 1.25rem;
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #dee0ea;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            font-size: 0.875rem;
            color: #000;
            i {
              margin-right: 5px;
            }
          }
          .add-to-wishlist {
            cursor: pointer;
            i {
              opacity: 0.5;
              font-size: 0.875rem;
              color: #000;
            }
            span {
              opacity: 0.5;
              font-size: 0.875rem;
              color: #000;
            }
          }
        }

        .product-meta {
          p {
            font-size: 14px;
            margin: 5px 0;
            padding: 0 0;

            span {
              font-size: 14px;
              font-weight: 500;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      bottom: -40px !important;
    }

    .slider-nav-thumbnails {
      margin-top: 20px;

      img {
        cursor: pointer;
      }
    }

    .slick-slide {
      margin-right: 20px;
    }

    .slick-track {
    }
    .slider-nav-thumbnails .slick-slide {
      opacity: 0.5;
    }

    .slider-nav-thumbnails .slick-slide.slick-current.slick-active {
      opacity: 1;
      background: green;
    }

    .widget {
      h4 {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 500;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .related-products {
      .products {
        .product {
          display: flex;
          align-items: center;
          // padding: 10px;
          border-radius: 0.375rem;
          margin-bottom: 10px;
          transition: all 0.5s;

          &:hover {
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
          }
          .image {
            width: 120px;
            min-width: 100px;
            border-radius: 0.375rem;
            img {
              max-width: 100%;
              height: auto;
              width: 100%;
              border-radius: 0.375rem;
            }
          }

          .content {
            padding-left: 15px;
            h6 {
              font-weight: 600;
              a {
                color: #333;
                transition: all 0.5s;
                &:hover {
                  color: #63ab00;
                }
              }
            }

            p {
              font-size: 18px;
              color: #63ab00;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  #description-review-section {
    margin-top: 40px;
    text-align: center;
    .nav-tabs {
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
    }
    .nav {
      display: inline-flex;
      justify-content: center;
      margin-bottom: 50px;
      border-radius: 3px;
      .nav-item {
        font-size: 23px;
        color: #282828;
        line-height: 48px;
        text-transform: capitalize;
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        background: #fff;
        position: relative;
        margin: 1px;
        border-radius: 3px;
        outline: none;

        .nav-link {
          cursor: pointer;
          background: transparent;
          text-transform: uppercase;
          &:hover {
            background: transparent !important;
            border: none;

            color: #63ab00;
          }
        }
        .active {
          color: #62ab00;
          border: none;
          border-bottom: 2px solid #63ab63;
          outline: none;
          background: transparent !important;
          &:hover {
            border-bottom: 3px solid #63ab63 !important;
          }
        }
        a {
          padding: 0 30px;
          border: 2px solid transparent;
          margin: -2px;
          color: #282828;
        }
      }
    }

    .desc {
      text-align: justify !important;
      p {
        font-size: 14px;
        color: #333;
        line-height: 30px;
        letter-spacing: 0.025em;
      }
    }
    .reviews {
      text-align: left;
      margin-top: 20px;
      .widget-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .single-review {
        margin-top: 20px;
        display: flex;
        // align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid #e1e1f0;
        .review-image {
          img {
            width: 100%;
            vertical-align: middle;
          }
        }

        .text {
          p {
            margin-bottom: 10px;
          }
          padding-left: 20px;
          .author {
            font-size: 18px;
            line-height: 18px;
            color: #333;
            font-weight: 600;
            font-style: normal;
          }
          .date {
            font-size: 16px;
            color: #333;
          }

          .desc {
            font-size: 15px;
            margin-bottom: 10px;
          }
          .stars {
            margin-bottom: 10px;
            i {
              font-size: 12px;
              color: #f9c300;
              margin-right: -2px;
            }
          }
        }
      }
    }
    .add-review {
      text-align: left;
      margin-top: 40px;
      padding: 30px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 10px;
      .widget-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
          content: "";
          height: 100%;
          width: 5px;
          border-radius: 10px;
          background-color: #63ab00;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .review-form {
        .stars {
          span {
            font-size: 15px;
            color: #333;
            margin-right: 5px;
          }
          input {
            display: none;
          }

          label {
            margin-right: 5px;
            cursor: pointer;
            position: relative;
            margin-bottom: 20px;
            display: inline-block;

            &::before {
              content: "";
              font-family: "Font Awesome 5 Free";
              position: relative;
              display: block;
              font-size: 14px;
              color: #e3e3e3;
              font-weight: 900;
            }

            &::after {
              content: "";
              font-family: "Font Awesome 5 Free";
              position: absolute;
              display: block;
              font-size: 14px;
              color: #f9c300;
              font-weight: 900;
              top: 0;
              left: 0;
            }
          }
        }
        input {
          margin-bottom: 20px;
          height: 48px;
          box-shadow: none;

          &:focus {
            border-color: #63ab00;
            outline: none;
          }
        }

        textarea {
          box-shadow: none;

          &:focus {
            border-color: #62ab00;
            outline: none;
          }
        }
        button {
          margin-top: 20px;
          text-align: center;
          font-size: 17px;
          padding: 12.5px 40px;
          line-height: 1.5;
          height: 48px;
          background-color: #63ab00;
          color: #fff;
          transition: all 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
