a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  
  body {
    font-family: "Open-Sans", sans-serif;
  }
  
  main {
    #reset-section {
      margin-top: 60px;
      margin-bottom: 40px;
  
      .reset-form {
        border: 1px solid #e3e3e3;
        padding: 45px 20px 30px 20px;
        text-align: left;
        border-radius: 5px;
        h4 {
          text-align: center;
          font-size: 27px;
          line-height: 23px;
          text-transform: capitalize;
          margin-bottom: 25px;
          color: #333;
          font-weight: 600;
        }
        label {
          display: block;
          font-size: 13px;
          margin-bottom: 8px;
          font-weight: 400;
          text-transform: capitalize;
        }
  
        input {
          height: 40px;
          color: #7b7b7b;
          font-size: 13px;
          // margin-bottom: 30px;
          box-shadow: none;
          border: 2px solid #eeeeee;
  
          &:focus {
            border-color: #62ab00;
            outline: none;
          }
        }
  
        button {
          margin-top: 10px;
          text-transform: capitalize;
          font-size: 15px;
          background: transparent;
          border: 2px solid #ececec;
          color: #333;
          padding: 0 50px;
          display: flex;
          font-weight: 600;
          align-items: center;
          min-height: 50px;
          transition: all 0.5s;
          &:hover {
            background-color: #62ab00;
            color: #fff;
          }
        }
  
        .password {
          position: relative;
          i {
            cursor: pointer;
            position: absolute;
            
            top: 40px;
            right: 20px;
            transition: all 0.5s;
            &:hover {
              color: #62ab00;
            }
          }
        }
   
  
      
      }
    }
  }
  